footer {
    background: #1D1D1E;
    padding: 2.5rem 5%;
    padding-right: 8%;
    color: var(--secondary-color);
}
footer a, footer p {
    color: var(--secondary-color);
    font-size: 0.875rem;
}
footer li {
    padding-block: .5rem;
}
footer h3 {
    font-size: 1.125rem;
    margin-bottom: .5rem;
}
.footer-links--container {
    justify-content: space-between !important;
}
.footer-links--container div {
    width: 6.31rem;
}
.footer-logo--container {
    width: 18.31rem !important;
    height: 10rem;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
}
.socials {
    justify-content: space-between !important;
    font-size: 1.25rem;
    width: 50%;
}
.socials--container {
    max-width: 10rem;
    margin-top: -3.7rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 730px) {
    .footer-logo--container {
        width: 100% !important;
        height: 8rem;
        margin-bottom: 1rem;
    }
}

  @media screen and (max-width: 680px) {
    .partners--container {
        flex-direction: column;
        gap: 2.3rem;
    }
}

@media screen and (max-width: 450px) {
    footer {
        font-size: 1.4rem;
        text-align: center;
    }
    footer h3 {
        font-size: 1.45rem;
    }
    .footer-logo--container {
        align-items: center !important;
        height: 50px;
    }
    .footer-links--container {
        text-align: center;
        flex-direction: column;
        row-gap: 1.2rem;
    }
    .socials--container {
        margin-top: 1.5rem;
        margin-inline: auto;

    }
    .socials {
        margin-inline: auto;
    }
  }

