@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Red Rose', cursive;
  --primary-color: #434343;
  --secondary-color: #FFFFFF;
  --fs-m: 1.25rem;
  --fs-s: 1rem;
  --fs-l: 1.5rem;
  --fs-xl: 3.5rem;
  --bg-primary: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

html {
  overflow-x: hidden;
}
body{
  min-width: 100%;
  min-height: 90vh;
  overflow-x: hidden;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  color: var(--primary-color);
  font-size: var(--fs-m);
  -webkit-font-smoothing: antialiased;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style-type: none;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
input {
  font-family: 'Red Rose', cursive;
  outline: none;
  vertical-align: top;
}
button {
  outline: none;
  border: none;
  font-family: 'Red Rose', cursive;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.btn {
  background: var(--bg-primary);
  color:var(--secondary-color);
  font-size: var(--fs-s);
  border-radius: 10px;
  padding: .8rem 1rem;
}
.btn-white {
  background: var(--secondary-color);
  color: #A02279;
}

@media screen and (max-width: 1200px) {
  :root {
    --fs-m: 1.15rem;
    --fs-s: 1rem;
    --fs-l: 1.2rem;
    --fs-xl: 2.5rem;
  }
  .flex {
    flex-wrap: wrap;
  }
}